@page "/results/{query}"
@using BussinessLogic.BLLModels
@using BussinessLogic.Ranking
@inject Models.SearchEngineDbContext _context
<div class="results_back">
	<div class="s129" style="min-height:0!important;background:none!important">
		<form>
		<div class="inner-form">
			<div class="input-field">
				<button class="btn-search" type="button" @onclick=OnSearchClick>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
					</svg>
				</button>
				<input id="search" type="text" placeholder="What are you looking for?" @bind-value=ThisQuery />
			</div>
		</div>
		</form>
	</div>
	<h1 class="heading">نتایج</h1>
	<p class="heading"> <strong></strong></p>
	@if(isLoading){
		<p>Loading</p>
	}else{
		@foreach(RankedLink link in results){
			<div class="article-loop">
				<a href="@link.link.Url"><h3>@link.link.Title ---</h3><h3>Score : @link.score</h3></a>
			</div>
		}
	}

	<div class="pagination">
		<span class="pagination-button">&laquo;</span>
		<span class="pagination-button page-num">1</span>
		<span class="pagination-button">&raquo;</span>
	</div>
</div>

@code {
	private string ThisQuery = "";
	private List<RankedLink> results = new List<RankedLink>();
	private bool isLoading = true;
	[Parameter]
	public string query { get; set; }
	protected override void OnInitialized()
	{
		RankingBLL Bll = new RankingBLL(_context);
		results = Bll.Rank(query);
		isLoading = false;
		StateHasChanged();
	}
	public void OnSearchClick()
	{
		isLoading = true;
		StateHasChanged();
		RankingBLL Bll = new RankingBLL(_context);
		results = Bll.Rank(ThisQuery);
		isLoading = false;
		StateHasChanged();
	}
}
